<ion-header [translucent]="true">
  <ion-toolbar [color]="encabezado_base">
    <ion-title>
      CONFIGURACIÓN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [color]="fondo_base">
  
  <ion-list>
    <ion-list-header [color]="fondo_base">
      <ion-label>
        Seleccione un tema
      </ion-label>
    </ion-list-header>
  
    <ion-item [color]="fondo_base">
      <ion-label>Temas:</ion-label>
      <ion-select  value="temas" okText="OK" cancelText="Cancelar" (ionChange)="elegirTema()" [(ngModel)]="aux">
        <ion-select-option *ngFor="let item of temas" [value]="item">{{ item.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item [color]="encabezado">
    <h2>Encabezado</h2>
  </ion-item>
  <ion-item [color]="fondo">
    <h2>Fondo</h2>
  </ion-item>
  <ion-item [color]="pie">
    <h2>Footer</h2>
  </ion-item>
  <ion-item [color]="fondo">
    <label [class]="fuente"><h2>Fuente</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ratione quam quae aperiam ullam maxime nostrum eius sed vero officiis omnis, quod aliquam numquam sint ab repudiandae excepturi unde! Nesciunt?</p>
  </label>
  </ion-item>
  <ion-button expand="full" color="primary" shape="round" (click)="almacenar()">CAMBIAR</ion-button>
</ion-content>
